
span{
    color: #80ed99;
}
.btn{
    background: #1d8637;
}
.sidebar{
    height: 100vh;
    background: #212529;
}
.sidebar ul li{
    padding: 10px 0;
}
.sidebar ul li a{
    transition: .5s;
    & i{
        margin-right: 10px;
    }
    &.active{
        color: #80ed99;
    }
    &:hover{
        color: #80ed99;
    }
}

.main{
    background: #343a40;
}