.text-justify{
    text-align: justify;
}
span{
    color: #80ed99;
}
.btn{
    background: #1d8637;
}
.sidebar{
    height: 100vh;
    background: #212529;
}
.sidebar ul li{
    padding: 10px 0;
}
.sidebar ul li a{
    transition: .5s;
    & i{
        margin-right: 10px;
    }
    &.active{
        color: #80ed99;
    }
    &:hover{
        color: #80ed99;
    }
}

.main{
    background: #343a40;
}

/* .about_table ul li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff77, transparent);
    content: '';
    bottom: 0px;
} */

.bars{
    height: 15px;
    width: 100%;
    background: #272c30;
    border-radius: 20px;
}

.active-bars{
    height: 100%;
    background: #80ed99;
    border-radius: 20px;
}

.skills ul li p{
    color: #80ed99;
}